*{
	margin: 0%;
	padding: 0%;
	font-family: sans-serif;
}
.header{
	display: flex;
	background-color: black;
	color: #fff;
	align-items: center;
	justify-content: center;
	height: 10vh;
	font-size: 16px;
}
.input{
	display: flex;
	margin-top: 10px;
	justify-content: center;
	height: 5vh;
}
.input-search{
	width: 500px;
	padding: 10px;
	border-radius: 5px;
	border:1px solid gray ;
}

.input-btn{
	background-color: black;
	color: #fff;
	border-radius: 5px;
	border: 1px solid black;
	width: 80px;
	margin-left: 20px;
}