*{
	margin: 0%;
	padding: 0%;
	font-family: sans-serif;
}
.header{
	display: flex;
	background-color: black;
	color: #fff;
	align-items: center;
	justify-content: center;
	height: 10vh;
	font-size: 16px;
}
.input{
	display: flex;
	margin-top: 10px;
	justify-content: center;
	height: 5vh;
}
.input-search{
	width: 500px;
	padding: 10px;
	border-radius: 5px;
	border:1px solid gray ;
}

.input-btn{
	background-color: black;
	color: #fff;
	border-radius: 5px;
	border: 1px solid black;
	width: 80px;
	margin-left: 20px;
}

.card-container{
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  text-align: center;
  color: white;
  border: 1ps solid grey;
}

.card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.card h3 {
  margin: 10px 0 5px;
  font-size: 18px;
  color: black;
}

.card p {
  margin-bottom: 10px;
  color: gray;
  font-size: 10px;
}
.card:hover{
	box-shadow: 10px 0 10px grey;
	border-radius: 8px;
}